@import url('https://fonts.googleapis.com/css?family=Bad+Script');
@import url('https://fonts.googleapis.com/css?family=Gentium+Book+Basic');
@import url('https://fonts.googleapis.com/css?family=Homemade+Apple');
@import url("https://fonts.googleapis.com/css?family=Oranienbaum");
@import url("https://fonts.googleapis.com/css?family=Homemade+Apple");
#banner{
  font-family:'Bad Script', cursive;
  margin-top:70px;
  text-align: left;
  width:375px;
  padding:25px;
  margin-right:auto;
  margin-left:auto;
  background-color:#f4e7d7;
  opacity:.75;
  font-size:60px;
  z-index:999;
  border-radius:10px;
  color:#281b0b;
  width:778px;
}

h1{
  font-family:'Bad Script', cursive;
  margin-top:70px;
  text-align: center;
  margin-right:auto;
  margin-left:auto;
  width:375px;
  font-size:60px;
  border: 15px solid #f4e7d7;
  border-radius:10px;
  border-width: medium;
}


/* h1{
  border: 15px solid transparent;
  padding: 10px;
  border-image:url("fancyborder.jpg")10% round;
} */

body{
background-image: url("https://78.media.tumblr.com/ac87e54146feb3a8fc6330b633f01560/tumblr_noazen7KNu1usir2io2_500.jpg");
}
ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #FFFAFA;
  text-align: center;


  position: sticky;
  top: 0;
  width: 100%;
  font-family: 'Homemade Apple', cursive;
}

li {
  float: left;
}

li a {
  display: block;
  color: grey;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

li a:hover:not(.active) {
  background-color: #F5F5F5;

}

.active {
  background-color:#C0C0C0;
  /* background-color:red; */

}
p{
  text-align: center;
}
.regular{
  font-size: 24px;
  font-family: 'Gentium Book Basic', serif;
  text-align:left;
}

.regular2{
  font-size: 23px;
  font-family: 'Gentium Book Basic', serif;
  text-align:center;
}

#Banner2{
  font-family: 'Gentium Book Basic', serif;
  margin-top:0px;
  text-align: left;
  width:300px;
  padding:15px;
  /* margin-right:auto;
  margin-left:auto; */
  background-color:#f4e7d7;
  opacity:.75;
  font-size:24px;
  z-index:999;
  border-radius:10px;
  color:#281b0b;

}
h3{
  font-family: "Oranienbaum", serif;
  font-size:36px;
  font-weight:25;
  text-align:left;
  border-style: solid;
  border-width:medium;
  border-color: #f4e7d7;

}
h3.right{
  text-align: right;
}
form{
  font-family: "Homemade Apple", cursive;
}
input{
  font-family: 'Gentium Book Basic', serif;
}
p.title{
    font-family:'Bad Script', cursive;
    font-size: 36px;
    font-weight:bold;
}
#map {
  height: 400px;
  width: 100%;
}
#Banner5{
  font-family: 'Gentium Book Basic', serif;
  margin-top:0px;
  text-align: left;
  width:300px;
  padding:15px;
  /* margin-right:auto;
  margin-left:auto; */
  background-color:#f4e7d7;
  opacity:.75;
  font-size:24px;
  z-index:999;
  border-radius:10px;
  color:#281b0b;
}
#haha{
  font-family: "Homemade Apple",cursive;
  font-weight: bold;
  font-size: 36px;
  text-align: center;
}
#Banner8{
  font-family:'Gentium Book Basic', serif;
  margin-top:70px;
  text-align: left;
  width:375px;
  padding:25px;
  margin-right:auto;
  margin-left:auto;
  background-color:#f4e7d7;
  opacity:.75;
  font-size:60px;
  z-index:999;
  border-radius:10px;
  color:#281b0b;
}
#cafe{
  padding-left:90px
}
footer{
  background-color:#f4e7d7;
  color:#000000;
  padding: 30px;
  font-size: 18px;
  font-family: "Homemade Apple", sans-serif;
}
.centered {
    position: absolute;
    top: 20%;
    left: 50%;
    transform: translate(-50%, -20%);
    font-size: 48px;
    font-family: "Gentium Book Basic", serif;
}
.centeredbody {
    position: absolute;
    top: 70%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 24px;
    font-family: "Gentium Book Basic", serif;
    text-align: center;
}
.black{
  color: black;
}
.white{
  color: white;
}
/* Slideshow CSS*/
* {box-sizing:border-box}

/* Slideshow container */
.slideshow-container {
  max-width: 1000px;
  position: relative;
  margin: auto;
}

/* Hide the images by default */
.mySlides {
    display: none;
}

/* Next & previous buttons */
.prev, .next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  margin-top: -22px;
  padding: 16px;
  color: white;
  font-weight: bold;
  font-size: 18px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
}

/* Position the "next button" to the right */
.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}

/* On hover, add a black background color with a little bit see-through */
.prev:hover, .next:hover {
  background-color: rgba(0,0,0,0.8);
}

/* The dots/bullets/indicators */
.dot {
  cursor: pointer;
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}

.active, .dot:hover {
  background-color: #717171;
}

/* Fading animation */
.fade {
  -webkit-animation-name: fade;
  -webkit-animation-duration: 1.5s;
  animation-name: fade;
  animation-duration: 1.5s;
}

@-webkit-keyframes fade {
  from {opacity: .4}
  to {opacity: 1}
}

@keyframes fade {
  from {opacity: .4}
  to {opacity: 1}
}
